@{
    ViewData["Title"] = "Home Page";

    // Definindo a página layout como layout padrão desta página. O header, importação de css e etc
    // serão definidos na página layout
    //Layout = "_Layout";
}

@*Chamando uma partial view via tag helper*@
<partial name="_AvisoGeral" />

@*Chamando uma partial view de forma assíncrona*@
@await Html.PartialAsync("_AvisoGeral")

@*Esta div será carregada dentro do RenderBody() na _Layout*@
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
