@*model m mínusculo -> é o tipo de dados que a model irá trabalhar
Model m maiúsculo -> é o valor recebido pela view, que é do mesmo tipo declarado pela model*@

@model int
@{
    Layout = null;
}

<span class="text-capitalize text-center">Carrinho de compras: @Model</span>